flask
requests
python-dotenv
flask-cors
PyPDF2
langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-groq
faiss-cpu
sentence-transformers
ollama
python-multipart
transformers
diffusers
torch
accelerate
psutil
python-dotenv
networkx
spacy
opencv-python
numpy
Pillow
gtts
moviepy
python-multipart