flask
requests
python-dotenv
flask-cors
PyPDF2
langchain
langchain-community
langchain-huggingface
langchain-ollama
faiss-cpu
sentence-transformers
ollama
python-multipart
transformers
diffusers
torch
accelerate
psutil